<div class="ingredient-outer">
  <div class="ingredient-inner">

    <app-title title="{{name}} food"></app-title>
    <ul class="ingredient-navigation-ul">
      <li *ngFor="let ingredient of ingredients" (click)="clickIngredient(ingredient)" class="ingredient-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(' + ingredient.strMealThumb + ')'}"
          class="ingredient-navigation-thumbnail"></div>{{ingredient.strMeal}}
      </li>
    </ul>

  </div>
</div>