<div class="footer-outer">
  <div class="footer-inner">
    <div class="footer-navigation">
      <div class="footer-navigation-caption">
        <h2 class="footer-navigation-caption-font">Meal Bank</h2>
      </div>
      <ul class="footer-navigation-ul">
        <li class="footer-navigation-li">Made with ♡ by Cheston</li>
      </ul>
    </div>
    <div class="footer-mealbank-box">
      <div class="footer-mealbank-copyright">
        <div class="footer-mealbank-copyright-logo"></div>
        <h3 class="footer-mealbank-copyright-font">© 2020 Mealbank, Inc. All rights reserved.</h3>
        <a class="footer-mealbank-link">· Terms</a>
        <a class="footer-mealbank-link">· Privacy</a>
        <a class="footer-mealbank-link">· Site Map</a>
      </div>
      <div class="footer-mealbank-social">
        <div class="footer-mealbank-social-icon">C</div>
        <div class="footer-mealbank-social-icon">K</div>
        <div class="footer-mealbank-social-icon">C</div>
      </div>
    </div>
  </div>
</div>
