.footer-outer {
  width: 80%;
  height: auto;
  float: none;  
}

.footer-inner {
  width: 100%;
  height: 100%;
}

.footer-navigation {
  width: 100%;
  height: 100%;
}

.footer-navigation-caption {
  width: 100%;
  height: 100%;
  padding: 30px 0px 5px 0px;
}

.footer-navigation-caption-font {
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: 500;
}

.footer-navigation-ul {
  width: 100%;
  height: 100%;
  padding: 5px 0px 30px 0px;
}

.footer-navigation-li {
  width: 100%;
  height: 100%;
  line-height: 25px;
}

.footer-mealbank-box {
  width: 100%;
  height: auto;
  border-top: solid 1px #dddddd;
  padding-top: 30px;
}

.footer-mealbank-copyright {
  width: 100%;
}

.footer-mealbank-copyright-logo {
  width: 40px;
  height: 40px;
  background-color: #222222;
}

.footer-mealbank-copyright-font {
  width: auto;
  line-height: 40px;
  padding: 0px 5px 0px 15px;
}

.footer-mealbank-link {
  width: auto;
  line-height: 40px;
  padding: 0px 5px;
}

.footer-mealbank-social {
  width: 100%;
}

.footer-mealbank-social-icon {
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
}