<div *ngFor="let meal of meals; let i = index" class="random-random">
  <div class="random-caption">
    <h1 class="random-caption-font">
      {{meal.strMeal}}
      <br>
      <span (click)="filterCategory(meal)" [style.background-color]="meal.style1"
        class="random-caption-category">{{meal.strCategory}}</span>
      <span (click)="filterArea(meal)" [style.background-color]="meal.style2" class="random-caption-area">{{meal.strArea}}</span>
    </h1>
  </div>
  <br>
  <div class="random-video">
    <iframe id="video" type="text/html" width="100%" height="400"
      [src]="videos[i] | safe" frameborder="0" allow="autoplay">
    </iframe>
    <div (click)="randomClick(meal)" class="random-video-overlay"></div>
  </div>
</div>