
.random-random {
  width: auto;
  padding-right: 20px;
}

.random-caption {
  width: 400px;
  height: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  margin-bottom: 30px;
}

.random-caption-font {
  width: auto;
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 10px;
}

.random-caption-category {
  width: auto;
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.random-caption-area {
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.random-video {
  width: 400px;
  height: 210px;
  margin-bottom: 50px;
  position: relative;
  background-color: black;
}

.random-video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

#video {
  margin-top: -95px;
}