<div class="header-outer">
  <div class="header-inner">

    <div routerLink="/" class="header-logo">
      <div class="header-logo-name">
        <a class="header-logo-font">Meal Bank</a>
      </div>
    </div>

    <div class="header-icon-list">
      <div routerLink="/" class="header-icon">
        <div class="header-icon-profile"></div>
      </div>
      <div routerLink="/" class="header-icon">
        <div class="header-icon-bag"></div>
      </div>
      <div routerLink="/" class="header-icon">
        <div class="header-icon-search"></div>
      </div>
    </div>

  </div>
</div>
