.header-outer {
  width: 100%;
  background-color: white;
  // padding: 0% 10%;
}

.header-inner {
  width: 100%;
  height: 60px;
  float: none;
}

.header-logo {
  width: auto;
  height: 100%;
  padding: 20px;
  cursor: pointer;
}

.header-logo-name {
  width: auto;
  height: 20px;
}

.header-logo-font {
  width: auto;
  height: 100%;
  // padding: 0px 20px;
  line-height: 20px;
  text-align: center;
  color: #222222;
  font-size: 17px;
}

.header-icon-list {
  width: auto;
  height: 100%;
  float: right;
}

.header-icon {
  width: 60px;
  height: 100%;
  padding: 20px;
  float: left;
  cursor: pointer;
}

.header-icon-profile {
  height: 100%;
  float: none;
  background-image: url('../../../assets/images/profile.png');
  background-size: cover;
}

.header-icon-bag {
  height: 100%;
  float: none;
  background-image: url('../../../assets/images/bag.png');
  background-size: cover;
}

.header-icon-search {
  height: 100%;
  float: none;
  background-image: url('../../../assets/images/search.png');
  background-size: cover;
}