.home-title {
  width: 100%;
  height: auto;
  margin-top: 120px;
  margin-bottom: 30px;
}

.home-title-font {
  width: auto;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-right: 10px;
}