<div class="home-outer">
  <div class="home-inner">

    <app-title title="Search Meals"></app-title>
    <app-search></app-search>

    <app-title title="Discover random meals"></app-title>
    <app-random></app-random>

  </div>
</div>