.category-outer {
  width: 100%;
  padding: 3% 10%;
}

.category-inner {
  width: 100%;
  float: none;
}

.category-navigation-li {
  height: 50px;
  width: 50%;
  padding-right: 20px;
  line-height: 50px;
  cursor: pointer;
}

.category-navigation-thumbnail {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
}