<div class="category-outer">
  <div class="category-inner">

    <app-title title="{{name}} dishes"></app-title>
    <ul class="category-navigation-ul">
      <li *ngFor="let category of categorys" (click)="clickCategory(category)" class="category-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(' + category.strMealThumb + ')'}"
          class="category-navigation-thumbnail"></div>{{category.strMeal}}
      </li>
    </ul>

  </div>
</div>