<div class="area-outer">
  <div class="area-inner">

    <app-title title="{{name}} food"></app-title>
    <ul class="area-navigation-ul">
      <li *ngFor="let area of areas" (click)="clickArea(area)" class="area-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(' + area.strMealThumb + ')'}"
          class="area-navigation-thumbnail"></div>{{area.strMeal}}
      </li>
    </ul>

  </div>
</div>