<div class="meal-outer">
  <div class="meal-inner">

    <app-title title={{meal.strMeal}}></app-title>
    <div class="home-caption">
      <h1 class="home-caption-font">
        <span (click)="filterCategory(meal)" [style.background-color]="meal.style1" class="home-caption-category">{{meal.strCategory}}</span>
        <span (click)="filterArea(meal)" [style.background-color]="meal.style2" class="home-caption-area">{{meal.strArea}}</span>
      </h1>
    </div>
    <div class="meal-description">
      {{meal.strInstructions}}
    </div>
    
    <app-title title="Video and Photo"></app-title>
    <div class="home-video">
      <iframe id="video" type="text/html" width="100%" height="400"
        [src]="video | safe" frameborder="0" allow="autoplay">
      </iframe>
      <div class="home-video-overlay"></div>
    </div>
    <div [ngStyle]="{ 'background-image': 'url(' + meal.strMealThumb + ')'}" class="home-photo">
    </div>

    <app-title title="Ingredients"></app-title>
    <ul class="meal-navigation-ul">
      <li *ngIf="meal.strIngredient1" (click)="filterIngredient(meal.strIngredient1)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient1 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure1}} {{meal.strIngredient1}}
      </li>
      <li *ngIf="meal.strIngredient2" (click)="filterIngredient(meal.strIngredient2)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient2 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure2}} {{meal.strIngredient2}}
      </li>
      <li *ngIf="meal.strIngredient3" (click)="filterIngredient(meal.strIngredient3)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient3 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure3}} {{meal.strIngredient3}}
      </li>
      <li *ngIf="meal.strIngredient4" (click)="filterIngredient(meal.strIngredient4)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient4 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure4}} {{meal.strIngredient4}}
      </li>
      <li *ngIf="meal.strIngredient5" (click)="filterIngredient(meal.strIngredient5)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient5 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure5}} {{meal.strIngredient5}}
      </li>
      <li *ngIf="meal.strIngredient6" (click)="filterIngredient(meal.strIngredient6)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient6 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure6}} {{meal.strIngredient6}}
      </li>
      <li *ngIf="meal.strIngredient7" (click)="filterIngredient(meal.strIngredient7)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient7 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure7}} {{meal.strIngredient7}}
      </li>
      <li *ngIf="meal.strIngredient8" (click)="filterIngredient(meal.strIngredient8)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient8 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure8}} {{meal.strIngredient8}}
      </li>
      <li *ngIf="meal.strIngredient9" (click)="filterIngredient(meal.strIngredient9)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient9 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure9}} {{meal.strIngredient9}}
      </li>
      <li *ngIf="meal.strIngredient10" (click)="filterIngredient(meal.strIngredient10)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient10 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure10}} {{meal.strIngredient10}}
      </li>
      <li *ngIf="meal.strIngredient11" (click)="filterIngredient(meal.strIngredient11)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient11 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure11}} {{meal.strIngredient11}}
      </li>
      <li *ngIf="meal.strIngredient12" (click)="filterIngredient(meal.strIngredient12)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient12 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure12}} {{meal.strIngredient12}}
      </li>
      <li *ngIf="meal.strIngredient13" (click)="filterIngredient(meal.strIngredient13)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient13 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure13}} {{meal.strIngredient13}}
      </li>
      <li *ngIf="meal.strIngredient14" (click)="filterIngredient(meal.strIngredient14)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient14 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure14}} {{meal.strIngredient14}}
      </li>
      <li *ngIf="meal.strIngredient15" (click)="filterIngredient(meal.strIngredient15)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient15 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure15}} {{meal.strIngredient15}}
      </li>
      <li *ngIf="meal.strIngredient16" (click)="filterIngredient(meal.strIngredient16)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient16 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure16}} {{meal.strIngredient16}}
      </li>
      <li *ngIf="meal.strIngredient17" (click)="filterIngredient(meal.strIngredient17)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient17 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure17}} {{meal.strIngredient17}}
      </li>
      <li *ngIf="meal.strIngredient18" (click)="filterIngredient(meal.strIngredient18)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient18 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure18}} {{meal.strIngredient18}}
      </li>
      <li *ngIf="meal.strIngredient19" (click)="filterIngredient(meal.strIngredient19)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient19 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure19}} {{meal.strIngredient19}}
      </li>
      <li *ngIf="meal.strIngredient20" (click)="filterIngredient(meal.strIngredient20)" class="meal-navigation-li">
        <div
          [ngStyle]="{ 'background-image': 'url(&quot;' + 'https://www.themealdb.com/images/ingredients/' + meal.strIngredient20 + '.png' + '&quot;)'}"
          class="meal-navigation-thumbnail"></div>{{meal.strMeasure20}} {{meal.strIngredient20}}
      </li>
    </ul>

  </div>
</div>
