.meal-outer {
  width: 100%;
  padding: 3% 10%;
}

.meal-inner {
  width: 100%;
  float: none;
}

.meal-description {
  width: 100%;
}

.meal-navigation-li {
  height: 50px;
  width: 50%;
  padding-right: 20px;
  line-height: 50px;
  cursor: pointer;
}

.meal-navigation-thumbnail {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
}

.home-caption {
  width: 400px;
  height: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  margin-bottom: 30px;
}

.home-caption-font {
  width: auto;
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 10px;
}

.home-caption-category {
  width: auto;
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.home-caption-area {
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.home-video {
  width: 400px;
  height: 210px;
  margin-bottom: 50px;
  position: relative;
  background-color: black;
  margin-right: 20px;
}

.home-video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#video {
  margin-top: -95px;
}

.home-photo {
  width: 400px;
  height: 210px;
  margin-bottom: 50px;
  position: relative;
  background-color: black;
  background-size: cover;
  background-position: center center;
}