.search-search {
  width: 100%;
  height: auto;
}

.search-input {
  width: 380px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  text-transform: capitalize;
}

.search-suggestions {
  width: 380px;
  height: auto;
  position: absolute;
}

.search-thumbnail {
  background-color: black;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-right: 1px solid black;
  background-size: cover;
}

.search-suggestion {
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  // padding: 0px 10px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 1px;
  cursor: pointer;
}

.search-suggestion:hover {
  font-weight: 500;
}