<div class="search-search">
  <input [(ngModel)]="input" (keyup)="search($event)" class="search-input" type="text">
  <div class="search-suggestions">
    <div (click)="suggestion($event, meal)" *ngFor="let meal of meals" class="search-suggestion">
      <div [ngStyle]="{ 'background-image': 'url(' + meal.strMealThumb + ')'}" class="search-thumbnail"></div>
      {{meal.strMeal}}
    </div>
  </div>
</div>