* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #fdfdfd;
}

div, ul, li, h1, h2, h3, h4, h5, h6, p, a {
  width: 100%;
  height: auto;
  margin: auto;
  float: left;
  overflow: hidden;
  // box-shadow: 0px 0px 1px 0px black inset;
}
